@charset "UTF-8";
@import "swiper.css";
@import "../iconfont/iconfont.css";
* {outline: 0 solid transparent; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; box-sizing: border-box;}
html,body{
    padding:0; margin:0; height:100%; background-color:#f5f5f5;
    font: 16px/1.5 tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;
    color:#fff; word-break:break-all; word-wrap:break-word;
}
html *{
    word-wrap:break-word;
    word-break:break-all;
    outline: 0 none;
    border-collapse:collapse;
    user-select: none;
    -webkit-touch-callout:none ;
    -webkit-user-select:none ;
    -moz-text-size-adjust: none;
    -moz-user-select: none;
}
ul,li,p,form,dd,dl,dt,h1,h2,h3,h4,h5{padding:0; margin:0; list-style:none;}
a,a:link,a:visited,a:active{color:#3c3c3c; text-decoration:none; cursor:pointer;}
a:hover{text-decoration:none; color:#008FBF;}
img{border:0;}
div:after,p:after,ul:after,li:after,ol:after,dl:after,dd:after,dt:after,
h1:after,h2:after,h3:after,h4:after,h5:after{
    clear: both; content: "."; display: block; height: 0; visibility: hidden;
    font-size:0;line-height:0; box-sizing: border-box; overflow: hidden;
}
input[type="checkbox"], input[type="radio"],.checkbox,.radio{height:16px; width:16px; display:inline-block; vertical-align:-1px; margin: 0 3px 0 0;}
input,textarea,select{box-sizing:border-box; resize:none; outline:none;}
.input-text,textarea,select{box-sizing:border-box; border:1px #CCC solid; border-radius:1px; width:200px; padding:3px 5px; font-size:12px;}
.input-text,select{height:28px; line-height:28px; vertical-align:middle;}
.input-text:hover,textarea:hover,select:hover{border-color:#0086B6; background-color:#EFFAF7;}
.button{height:28px; line-height:26px; box-sizing:border-box; padding:0 20px; display:inline-block; font-size:12px; border-radius:1px; cursor:pointer; vertical-align:middle;}
.button,a.button{background-color:#2EA2CC; color:#fff; border:0;}
.button:hover{background-color:#1e8cbe; color:#fff;}
.w30{width:30px !important; width:30px;}
.w60{width:60px !important; width:30px;}
.w90{width:90px !important; width:90px;}
.w120{width:120px !important; width:120px;}
.w200{width:200px !important; width:200px;}
.w300{width:300px !important; width:300px;}
.w400{width:400px !important; width:400px;}
.w500{width:500px !important; width:500px;}
.width-auto{width: auto;}
.clearfix{clear:both; height:0; line-height:0;}
.blank{height:20px; line-height:20px; clear:both; display:block;}
.blank10{height: 10px; line-height: 10px; clear: both; display: block;}
.float-right{float:right;}
.float-left{float:left;}
.align-left{text-align:left !important;}
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}

.app-message{display: block; z-index: 9999; position: fixed; padding: 10px 15px;
    background-color: #333; color: #fff; font-size: 15px; border-radius: 4px;}
.app-confirm{
    display: block; background: #fff; border-radius: 10px;
    width: 80%; position: fixed; z-index: 9999; border: 1px #e7e7e7 solid;
}
.app-confirm .content{display: block; padding: 30px 20px; font-size: 16px; text-align: center; color: #333;}
.app-confirm .bot{height: 50px; position: relative; display: block; border-top: 1px #d7d7d7 solid;}
.app-confirm .btn{position: absolute; height: 50px; line-height: 50px; width: 50%; text-align: center; color: #0B90EF; font-size: 18px;}
.app-confirm .btn-ok{left: 0; top: 0;}
.app-confirm .btn-cancel{left: 50%; top: 0; border-left: 1px #d7d7d7 solid;}

/**滑动图片**/
.swiper-div{display:block; overflow:hidden; position:relative; padding-top: 50%;}
.swiper-div .swiper{position:absolute; left:0; top:0; width:100%; height:100%; display:block;}
.swiper-div .swiper .swiper-wrapper{height:100%;}
.swiper-div .swiper .swiper-wrapper .swiper-slide{display:block; overflow:hidden; height:100%;}
.swiper-div .swiper .swiper-wrapper .swiper-slide img{width:100%; height:100%; display:block;}
.swiper-div .swiper .swiper-wrapper .swiper-slide .bg{display: block; width: 100%; height: 100%;}
.swiper-div .swiper-pagination-bullet-active{background-color:#fff;}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: #22df80;
    pointer-events: none;
}

.bg-cover{
    -webkit-background–size: cover;
    -moz-background–size: cover;
    -o-background–size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/common/placeholder.png");
    background-color: #f2f2f2;
    -ms-behavior: url(../images/common/backgroundsize.min.htc);
    behavior: url(../images/common/backgroundsize.min.htc);
}
.lazyload{} .asyncload{}

.pin-menus{display: block; background-color: #fff;}
.pin-menus ul{display: block; padding: 10px 0;}
.pin-menus ul li{float: left; width: 25%;}
.pin-menus ul li img{width: 45px; display: block; margin: 0 auto;}
.pin-menus ul li .t{font-size: 14px; color: #333; text-align: center; display: block; margin-top: 5px;}

/*==扫一扫登录==*/
.scanlogin{display: block;}
.scanlogin .avatar-wrap{display: block; padding: 60px 0;}
.scanlogin .avatar-wrap .avatar{width: 140px; height: 140px; display: block; margin: 0 auto; border-radius: 50%; border: 5px #fff solid;}
.scanlogin .avatar-wrap .desc{font-size: 16px; color: #333; text-align: center; display: block; margin-top: 20px;}
.scanlogin .avatar-wrap .tips{font-size: 16px; color: #888; text-align: center; display: block;}
.scanlogin .btn-submit{
    background-color: #E02E24; color: #fff; font-size: 16px;
    border-radius: 5px; text-align: center; height: 45px; line-height: 45px;
    display: block; margin: 20px;
}

/*===新闻正文===*/
.news-detail{
    display: block; overflow: hidden;
    background-color: #f8f8f8;
}

.news-detail .head{
    background-color: #fff;
    padding: 20px 15px 10px;
    display: block;
}

.news-detail .head h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}

.news-detail .head p{
    color: #888; font-size: 12px;
    display: block;
}

.news-detail .body{
    display: block;
    padding: 15px;
    background-color: #f8f8f8;
}

.news-detail .body .content{
    font-size: 18px; color: #333;
    line-height: 1.5; text-align: justify;
}

.news-detail .body .content *{max-width: 100%;}

.news-detail .body .media{
    display: block;
    padding-top: 70%;
    position: relative;
}

.news-detail .body .media .iframe{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.news-detail .body .image-list{
    display: block;
}

.news-detail .body .image-list img{
    max-width: 100%; margin-bottom: 10px;
}

.news-detail .share{
    display: block;
    padding: 20px 0;
}

.news-detail .share .line{
    height: 0; display: block;
    clear: both; border-bottom: 1px #DDD solid;
    position: relative;
}

.news-detail .share .text{
    position: absolute;
    height: 20px;
    width: 100px;
    text-align: center;
    background-color: #f8f8f8;
    display: block;
    left: 50%;
    top: -10px;
    margin-left: -50px;
    font-size: 12px;
    color: #777;
}

.news-detail .share .item-list{
    display: inline-flex; flex-flow: row nowrap;
    width: 100%; margin-top: 30px;
}

.news-detail .share .item-list li{
    flex: 1;
    text-align: center;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
}

.news-detail .share .item-list li .ico{
    width: 40px; height: 40px; display: block; margin: 0 auto 5px auto;
}

.news-detail .share .item-list li .title{
    font-size: 14px; color: #777; display: block; text-align: center;
}


.comment{
    display: block;
    overflow: hidden;
    background-color: #f8f8f8;
}

.comment .title{
    display: block;
    padding: 10px 15px;
    border-bottom: 1px #e7e7e7 solid;
}

.comment .title span{
    background-color: #FE4456;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
}

.comment .listview{
    display: block;
}

.comment .listview .item{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px #e7e7e7 solid;
    padding: 15px;
    width: 100%;
}

.comment .listview .item .avatar{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
    flex: 1;
    min-width: 40px;
    max-width: 40px;
}

.comment .listview .item .content{
    flex: 1;
    display: block;
    position: relative;
}

.comment .listview .item .likes{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    color: #999;
}

.comment .listview .item .likes span{
    margin-right: 4px; font-size: 14px;
}

.comment .listview .item .likes i{
    font-size: 13px; font-style: normal;
}

.comment .listview .item .username{
    font-size: 14px; color: #777;
    display: block; line-height: 1.0;
}

.comment .listview .item .location{
    font-size: 12px;
    color: #999;
    padding: 3px 0;
}

.comment .listview .item .location span{
    margin-right: 5px;
}

.comment .listview .item .message{
    font-size: 16px;
    color: #333;
    line-height: 1.3;
    text-align: justify;
}

.comment .listview .title{
    background-color: #e2e2e2;
    font-size: 14px; padding: 0 5px;
    height: 28px; line-height: 28px; display: block;
    overflow: hidden; color: #666; margin-top: 5px;
    border-radius: 2px;
}

.comment .nocomment{
    display: block; padding: 100px 0;
}

.comment .nocomment .icon{
    background-image: url("../images/app/soufa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 80px; height: 80px;
    display: block; margin: 0 auto;
}

.comment .nocomment p{
    color: #9999;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

.paper{
    display: block;
    overflow: hidden;
}

.paper .content{
    display: block;
}

.paper .usemap{
    width: 100%;
}