@import "common.css";

.app-login{
    display: block;
    background-image: url("../images/common/red-bg.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.app-login .content-div{
    background-color: #fff;
    width: 500px;
    display: block;
    margin: 100px auto 0 auto;
    border-radius: 5px;
}

.app-login .content-div .hd{
    padding: 20px 60px;
    display: block;
}

.app-login .content-div h3.title{
    font-size: 18px;
    color: #222;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.app-login .input-div{background-color:#fff; display:block; height:45px; margin-top:20px; position:relative; border:1px #ddd solid; border-radius:2px; box-shadow:0 1px 2px rgba(0, 0, 0, 0.075) inset;}
.app-login .ico-box{width:36px; height:36px; margin:2px; background-color:#fefefe; text-align:center; line-height:100%; display:block; float:left;}
.app-login .ico-box .iconfont{margin:0; line-height:36px; display:block; color:#666; width:100%; font-weight: bolder;}
.app-login .input-box{height:40px; overflow:hidden;}
.app-login .input-box .text{padding:5px 10px 5px 0; font-size:13px; box-sizing:border-box; width:100%; height:100%; border:0; background:none;}
.app-login .captcha{position:absolute; top:0; right:0; height:100%; z-index:10; cursor:pointer;}
.app-login .sign-button-div{margin-top:20px; display:block;}
.app-login .sign-button{display:block; width:100%; border:0; font-size:14px; cursor:pointer; height:45px; line-height:45px; text-align:center; background:#0ae; color:#fff; border-radius:2px;}
.app-login .sign-button:hover{background:#00a3d2;}
.app-login .sign-link{display:block; margin-top:15px; font-size:12px;}
.app-login .sign-link span{float:right;}

.app-login .form-group{
    display: block;
    padding: 15px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.app-login .form-group .text{
    border: none;
    background: none;
    width: 100%;
    font-size: 15px;
}

.app-login .form-group .select{
    border: none;
    background: none;
    font-size: 14px;
    width: 122px;
}

.app-footer{
    width: 100%;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../images/common/footer-bg.png");
    background-size: auto 100%;
    background-position: center;
}

.body{
    background-color: #f7f7f7;
    height: 100%;
}
.header-topbar{
    background-color: #1E1E1E;
    height: 50px;
    position: relative;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.header-topbar a{
    color: #fff;
    text-decoration: none;
}

.header-topbar h1.title{
    width: 200px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    float: left;
}

.header-topbar .account{
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-topbar .account a{
    display: block;
}

.header-topbar .account .avatar{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: 10px;
}

.header-topbar .account .username{
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}

.wrapper{
    min-height: 100%;
    position: relative;
}

.sidebar{
    position: absolute;
    width: 200px;
    display: block;
    background-color: #3c3c3c;
    min-height: 100%;
    bottom: 0;
}

.sidebar .menus{
    display: block;
}

.sidebar .menus li{
    border-bottom: 1px solid #484848;
}

.sidebar .menus li a{
    display: block;
    color: #f9f9f9;
    padding: 10px 20px;
    font-size: 14px;
}

.sidebar .menus li a:hover{
    background-color: #222222;
}

.sidebar .menus li.active a,
.sidebar .menus li.active a:hover{
    background-color: #3e77ab;
    color: #fff;
}

.page-wrapper{
    margin: 0 0 0 200px;
}

.page-wrapper .page-header{
    background-color: #fff;
    display: block;
    padding: 10px 20px;
}

/*控制栏*/
.page-header .console-title{display:block; padding:2px 0 10px;}
.page-header .console-title .tab{display:inline-block;}
.page-header .console-title .tab li{float:left; margin-right:10px; font-size:12px; border-radius:2px;}
.page-header .console-title .tab li a{display:block; padding:3px 10px;}
.page-header .console-title .tab li.on{background:#0098CE; color:#fff;}
.page-header .console-title .tab li.on a,.toolbar .tab li.on a:hover{color:#fff;}
.page-header .console-title .button{height:28px; line-height:26px; border-radius: 1px;}
.page-header .console-title .input-text{font-size:12px;}
.page-header .console-title strong{font-size: 18px;}
.page-header .console-title h2{
    font-size: 16px; font-weight: 500; height: 17px; line-height: 17px;
    margin-top: 5px; border-left: 3px #86B6E2 solid; padding-left: 6px; float: left;
}

.page-wrapper .page-content{
    display: block;
    padding: 20px;
    background-color: #f7f7f7;
    position: relative;
}

.page-wrapper .page-content .content-div{
    background-color: #fff;
}

.page-wrapper .page-content .form-wrapper{
    background-color: #fff;
    padding: 20px;
}

.formtable{}
.formtable td,.formtable th{padding:10px 0; font-size:12px; text-align:left;}
.formtable .cell-name{text-align:right; padding-right:10px; font-weight: 500;}
.formtable .cell-tips{padding: 10px; color: #666;}
.formtable .input-text,.formtable .select,.formtable .textarea{width: 300px;}
.formtable th, .formtable td{padding:8px 0; text-align:left; font-size:12px; vertical-align: top;}
.formtable .a-bind-link{color:#008FBF;}
.formtable .a-bind-link:hover{text-decoration:underline;}
.formtable .img-upload-box{
    width: 100px; height: 100px; position: relative; cursor: pointer;
    border: 1px #CCCCCC solid;  background-color: #f0f0f0;  background-position: center top;
}
.formtable .img-upload-box .title{
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 25px; line-height: 25px;
    display: block; text-align: center; font-size: 11px;
    background: url("../images/common/translucent-60.png"); color: #fff;
}
.formtable .img-upload-box .file{position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
.formtable .btn-100{width: 100px; text-align: center;}
.formtable .map-hd{display: block; position: relative; padding-top: 60%;}
.formtable .map-hd .map{width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block;}
.formtable .image-upload-queue{display: inline-block; float: left;}
.formtable .image-upload-queue li{float: left; width: 100px; height: 100px; position: relative; margin-right: 10px; border: 1px #e7e7e7 solid; background-color: #f5f5f5;}
.formtable .image-upload-queue li img{width: 100%; height: 100%; display: block;}
.formtable .image-upload-queue li .delete{
    position: absolute; top: 0; right: 0; width: 20px;
    height: 20px; line-height: 20px; font-size: 14px;
    text-align: center; background-color: #333; color: #fff;
    padding: 0; margin: 0; cursor: pointer;
}
.formtable .image-upload-button{
    width: 100px; height: 100px;
    border: 1px #e7e7e7 solid; background-color: #f5f5f5;
    display: inline-block; background-image: url("../images/common/upload-img.png");
    background-position: center center; background-repeat: no-repeat;
    background-size: 50px 50px; float: left; position: relative;
}
.formtable .image-upload-button .file{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; opacity: 0; cursor: pointer;}
.formtable label{margin-right: 6px;}
.formtable .button-long{padding: 0 30px;}

.listtable{border: 1px #e1e6eb solid; border-radius: 2px;}
.listtable td,.listtable th{text-align:left; font-size:12px; word-break: break-all; word-wrap: break-word;}
.listtable td .title{font-size:12px; font-weight:400; line-height:1.1;}
.listtable td .info{font-size:10px; color:#999; display:block; margin-top:5px;}
.listtable td .pic{width:50px; height:50px; float:left; border-radius:100%; background-size:cover;}
.listtable td .pic img{width:100%; height:100%; display:block; border-radius:100%;}
.listtable thead th{background-color:#f5f6fa; padding: 8px; color: #888; font-weight: normal;}
.listtable tbody td,.listtable tbody th{border-top:1px #e1e6eb solid; padding: 12px 8px;}
.listtable tbody tr:hover td,.listtable tbody tr:hover th{background-color:#FeFeF0;}
.listtable tfoot td,
.listtable tfoot th{background-color:#f5f6fa; border-top:1px #e1e6eb solid; padding: 12px 8px;}
.listtable tfoot .button{margin-right: 7px;}
.listtable tfoot .btn{
    border: 1px #DDD solid; height: 24px; line-height: 22px; text-align: center; font-size: 12px;
    padding: 0 10px; border-radius: 2px; display: inline-block; background-color: #fff;
}
.listtable tfoot .btn:hover{
    background-color: #f5f5f5; color: #222; border-color: #999;
}
.listtable .head-first{padding-left:10px;}
.listtable .first{padding-left:10px;}
.listtable .avatar{border-radius: 50%;}
.listtable label{margin-right: 5px;}
.listtable .align-center{text-align: center;}
.listtable .align-right{text-align: right;}
.listtable .cat-level{
    background-image: url("../images/admin/join.png");
    background-position: left center; float: left;
    background-repeat: repeat-x; height: 26px;
}
.listtable .cat-level-2{padding-left: 30px;}
.listtable .cat-level-3{padding-left: 60px;}
.listtable h3.title{font-size: 14px; display: block; margin-bottom: 5px;}
.listtable .subtitle{font-size: 12px; display: block; color: #777;}
.listtable .subtitle a{color: #777;}
.listtable .subtitle a:hover{text-decoration: underline;}
.listtable .catlog{background: url("../images/admin/join.png") left center no-repeat; padding-left: 30px;}
.listtable .addnew-wrap{
    background-image: url("../images/admin/gou.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
}
