@import "common.css";
body,html{font-size: 16px; background-color: #f2f2f2;}
.tabbar{
    position: relative;
    height: 49px;
}
.tabbar .bar{
    position: fixed;
    width: 100%;
    height: 49px;
    border-top: 1px #e7e7e7 solid;
    bottom: 0;
    background-color: #fff;
    display: flex;
    z-index: 1000;
}

.tabbar .bar .item{
    flex: 1;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
    padding: 5px 0 0;
}

.tabbar .bar .item .item-icon{
    height: 20px;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
}

.tabbar .bar .item .item-title{
    text-align: center;
    font-size: 14px;
}

.tabbar .bar .item .item-title-active{
    color: #6CD07E;
}

.tabbar .bar .item .item-home{
    background-image: url("../images/mobile/home.png");
}

.tabbar .bar .item .item-home-active{
    background-image: url("../images/mobile/home-selected.png");
}

.tabbar .bar .item .item-grow{
    background-image: url("../images/mobile/cz.png");
}

.tabbar .bar .item .item-grow-active{
    background-image: url("../images/mobile/cz-selected.png");
}

.tabbar .bar .item .item-com{
    background-image: url("../images/mobile/jl.png");
}

.tabbar .bar .item .item-com-active{
    background-image: url("../images/mobile/jl-selected.png");
}

.tabbar .bar .item .item-mine{
    background-image: url("../images/mobile/mine.png");
}

.tabbar .bar .item .item-mine-active{
    background-image: url("../images/mobile/mine-selected.png");
}

.page{
    display: block;
    overflow: hidden;
}

/*表单*/
.form-wrap{
    display: block;
    background-color: #fff;
}

.form-wrap .form-group{
    margin: 20px 0;
    display: flex;
}

.form-wrap .form-group .label{
    text-align: right;
    float: left;
    padding-top: 10px;
    font-size: 16px;
    flex: 1;
    width: 72px;
    min-width: 72px;
    max-width: 72px;
}

.form-wrap .form-group .content{
    flex: 1;
    font-size: 16px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.form-wrap .form-group .input-text{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-wrap .form-group .button{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    width: 140px;
}

.form-wrap .form-group .textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    height: 200px;
}

.global-menus{
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}

.global-menus .wrapper{
    margin: -1px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 10px 0;
}

.global-menus .wrapper li{
    flex: 1;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
    padding: 10px 0;
}

.global-menus .wrapper li .image{
    text-align: center;
    display: block;
}

.global-menus .wrapper li .image img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.global-menus .wrapper li .title{
    text-align: center;
    font-size: 14px;
    color: #222;
    display: block;
}

.content-div{
    display: block;
    background-color: #fff;
}

.title-div{
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #222;
    font-weight: 500;
    border-bottom: 1px #e9e9e9 solid;
}

.more-div{
    display: block;
}

.more-div a,.more-div span{
    display: block;
    padding: 15px;
    text-align: center;
    color: #00a2d4;
    font-size: 15px;
}

.article-list{
    display: block;
    padding: 0 10px;
}

.article-list li{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.article-list li .image{
    flex: 1;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
    display: block;
    margin-right: 10px;
    border-radius: 2px;
}

.article-list li .data{
    flex: 1;
    height: 80px;
    position: relative;
}

.article-list li .data .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    margin-bottom: 7px;
    color: #222;
}

.article-list li .data .info{
    color: #888;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.article-list li .data .info span{
    margin-right: 10px;
}

.article-list li .data .created_at{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    color: #888;
}

/*===新闻正文===*/
.articel-detail{
    display: block; overflow: hidden;
    background-color: #f8f8f8;
}

.articel-detail .head{
    background-color: #fff;
    padding: 20px 15px 10px;
    display: block;
}

.articel-detail .head h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}

.articel-detail .head p{
    color: #888; font-size: 12px;
    display: block;
}

.articel-detail .body{
    display: block;
    padding: 15px;
    background-color: #f8f8f8;
}

.articel-detail .body .content{
    font-size: 18px; color: #333;
    line-height: 1.5; text-align: justify;
}

.articel-detail .body .content *{max-width: 100%;}

.articel-detail .body .media{
    display: block;
    padding-top: 70%;
    position: relative;
}

.articel-detail .body .media .iframe, .news-detail .body .media .video{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 10;
    background-color: #333;
}

.articel-detail .body .media .play-btn{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 20;
}

.articel-detail .body .image-list{
    display: block;
}

.articel-detail .body .image-list img{
    max-width: 100%; margin-bottom: 10px;
}

.articel-detail .qrcode{
    display: block;
    text-align: center;
    padding: 20px;
}

.articel-detail .qrcode .qr img{
    width: 140px; height: 140px;
    display: block; margin: 0 auto;
}

.articel-detail .qrcode p{
    text-align: center;
    font-size: 16px; margin-top: 10px;
    color: #666;
}

.articel-detail .share{
    display: block;
    padding: 20px 0;
}

.articel-detail .share .line{
    height: 0; display: block;
    clear: both; border-bottom: 1px #DDD solid;
    position: relative;
}

.articel-detail .share .text{
    position: absolute;
    height: 20px;
    width: 100px;
    text-align: center;
    background-color: #f8f8f8;
    display: block;
    left: 50%;
    top: -10px;
    margin-left: -50px;
    font-size: 12px;
    color: #777;
}

.articel-detail .share .item-list{
    display: inline-flex; flex-flow: row nowrap;
    width: 100%; margin-top: 30px;
}

.articel-detail .share .item-list li{
    flex: 1;
    text-align: center;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
}

.articel-detail .share .item-list li .ico{
    width: 40px; height: 40px; display: block; margin: 0 auto 5px auto;
}

.articel-detail .share .item-list li .title{
    font-size: 14px; color: #777; display: block; text-align: center;
}


.comment{
    display: block;
    overflow: hidden;
    background-color: #f8f8f8;
}

.comment .title{
    display: block;
    padding: 10px 15px;
    border-bottom: 1px #e7e7e7 solid;
}

.comment .title span{
    background-color: #FE4456;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
}

.comment .listview{
    display: block;
}

.comment .listview .item{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px #e7e7e7 solid;
    padding: 15px;
    width: 100%;
}

.comment .listview .item .avatar{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
    flex: 1;
    min-width: 40px;
    max-width: 40px;
}

.comment .listview .item .content{
    flex: 1;
    display: block;
    position: relative;
}

.comment .listview .item .likes{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    color: #999;
}

.comment .listview .item .likes span{
    margin-right: 4px; font-size: 14px;
}

.comment .listview .item .likes i{
    font-size: 13px; font-style: normal;
}

.comment .listview .item .username{
    font-size: 14px; color: #777;
    display: block; line-height: 1.0;
}

.comment .listview .item .location{
    font-size: 12px;
    color: #999;
    padding: 3px 0;
}

.comment .listview .item .location span{
    margin-right: 5px;
}

.comment .listview .item .message{
    font-size: 16px;
    color: #333;
    line-height: 1.3;
    text-align: justify;
}

.comment .listview .title{
    background-color: #e2e2e2;
    font-size: 14px; padding: 0 5px;
    height: 28px; line-height: 28px; display: block;
    overflow: hidden; color: #666; margin-top: 5px;
    border-radius: 2px;
}

.comment .nocomment{
    display: block; padding: 100px 0;
}

.comment .nocomment .icon{
    background-image: url("../images/mobile/soufa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 80px; height: 80px;
    display: block; margin: 0 auto;
}

.comment .nocomment p{
    color: #9999;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

/*加入联谊会*/
.join{
    display: block;
    padding: 20px;
    background-color: #fff;
}

.join .title{
    font-size: 18px;
    display: block;
    text-align: center;
}

.join .content{
    font-size: 16px;
    color: #222;
    text-align: justify;
    line-height: 1.5;
    padding: 20px 0;
}

.join .bottom-view{
    display: block;
    padding: 20px;
}

.join .bottom-view .button{
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    width: 100%;
}

.enroll{
    display: block;
    padding: 0 0 20px;
}

.enroll .form-wrapper{
    display: block;
    background-color: #fff;
    padding: 10px;
}

.enroll .form-wrapper .form-group{
    margin: 20px 0;
    display: flex;
}

.enroll .form-wrapper .form-group .label{
    text-align: right;
    float: left;
    padding-top: 10px;
    font-size: 16px;
    flex: 1;
    width: 76px;
    min-width: 76px;
    max-width: 76px;
}

.enroll .form-wrapper .form-group .content{
    flex: 1;
    font-size: 16px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.enroll .form-wrapper .form-group .input-text{
    width: 100%;
    height: 46px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.enroll .form-wrapper .form-group .button{
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    width: 140px;
}

/**登录注册**/
.sign{
    display: block;
    padding: 20px;
}

.sign .form-group{
    margin: 20px 0;
    display: block;
}

.sign .form-group .input-text{
    width: 100%;
    height: 46px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sign .form-group .button{
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.sign .link{
    display: block;
    margin-top: 20px;
}

.sign .link a{
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #00a2d4;
    display: block;
}

/*工作*/
.job-list-wrapper{
    display: block;
    padding: 0 10px;
    background-color: #fff;
}

.job-list {
    display: block;
}

.job-list li{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px #e7e7e7 solid;
}

.job-list li .image{
    flex: 1;
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    display: block;
    margin-right: 10px;
    border-radius: 2px;
}

.job-list li .data{
    flex: 1;
    height: 64px;
    display: block;
    position: relative;
}

.job-list li .data h3{
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.job-list li .data .company{
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}

.job-list li .data .attrs{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #666;
    font-size: 12px;
}

.job-list li .data .pubtime{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #777;
}

.job-detail{
    display: block;
    background-color: #f2f2f2;
}

.job-detail .basic{
    background-color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.job-detail .basic h1{
    font-size: 22px;
    color: #222;
    display: block;
    margin-bottom: 10px;
}

.job-detail .basic .attrs{
    font-size: 14px;
    color: #777;
    display: block;
}

.job-detail .basic .attrs .money{
    color: #f40;
    font-size: 16px;
    font-weight: 800;
}

.job-detail .basic .attrs i{
    font-style: normal;
    color: #222;
}

.job-detail .desc{
    display: block;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.job-detail .desc .title{
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 10px 0;
}

.job-detail .desc .content{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}

.job-detail .desc .company-data{
    display: block;
    padding: 10px;
}
.job-detail .desc .company-data li{
    display: flex;
    font-size: 15px;
    padding: 5px 0;
}

.job-detail .desc .company-data li .label{
    color: #777;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    flex: 1;
    text-align: justify;
    text-align-last: justify;
    margin-right: 10px;
}

.job-detail .desc .company-data li .text{
    color: #222;
    text-align: left;
}

/*页面*/
.pages{
    display: block;
    padding: 20px;
    background-color: #fff;
}

.pages .title{
    font-size: 22px;
    display: block;
    text-align: center;
    color: #000;
}

.pages .content{
    font-size: 16px;
    color: #222;
    text-align: justify;
    line-height: 1.5;
    padding: 20px 0;
}

.pages .content *{
    max-width: 100%;
}

/*企业*/
.company-list{
    display: block;
    padding: 0 15px;
    background-color: #fff;
}

.company-list li{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.company-list li .image{
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    flex: 1;
    display: block;
    margin-right: 10px;
}

.company-list li .data{
    height: 64px;
    position: relative;
    display: block;
    flex: 1;
}

.company-list li .data h3{
    font-size: 16px;
    font-weight: 400;
    color: #222;
    line-height: 1.3;
    margin-right: 60px;
}

.company-list li .data .address{
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #777;
}

.company-list li .data .views{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #666;
}

.company-detail{
    display: block;
    padding: 10px;
    background-color: #fff;
}

.company-detail .title{
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 10px 0;
}

.company-detail .content{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}

.company-detail .company-data{
    display: block;
    padding: 10px;
}
.company-detail .company-data li{
    display: flex;
    font-size: 15px;
    padding: 5px 0;
}

.company-detail .company-data li .label{
    color: #777;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    flex: 1;
    text-align: justify;
    text-align-last: justify;
    margin-right: 10px;
}

.company-detail .company-data li .text{
    color: #222;
    text-align: left;
}

.company-detail .jobs{
    display: block;
    padding: 10px;
}

.company-detail .jobs li{
    display: flex;
    padding: 5px 0;
}

.company-detail .jobs li h3{
    flex: 1;
    font-size: 16px;
}

.company-detail .jobs li span{
    flex: 1;
    color: #ff4400;
    font-size: 16px;
    font-weight: 600;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

/*联谊会达人*/
.daren-list{
    display: block;
    padding: 0 15px;
    background-color: #fff;
}

.daren-list li{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.daren-list li .image{
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    flex: 1;
    display: block;
    margin-right: 10px;
    border-radius: 32px;
}

.daren-list li .data{
    height: 64px;
    position: relative;
    display: block;
    flex: 1;
}

.daren-list li .data h3{
    font-size: 16px;
    font-weight: 500;
    color: #222;
    line-height: 1.3;
    margin-right: 60px;
    padding-top: 5px;
}

.daren-list li .data .address{
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #777;
}

.daren-list li .data .stars{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    color: #666;
    line-height: 18px;
}

.daren-list li .data .stars .iconfont{
    color: #FAA722;
    font-size: 16px;
    display: inline-block;
}

.daren-list li .data .stars .n{
    padding-top: 8px;
    display: inline-block;
}

/*个人中心*/
.mine-header{
    background-image: url("../images/mobile/head-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 67%;
    position: relative;
    display: block;
}

.mine-header .content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.mine-header .content .avatar{
    height: 33.33%;
    border-radius: 50%;
    border: 5px #FFF solid;
    margin: 13% auto 15px;
    display: block;
}

.mine-header .content .name{
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 50px;
    padding: 3px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
}

/*会员档案*/
.member-archive{
    display: block;
    background-color: #fff;
    padding: 20px 0;
}

.member-archive .row{
    display: flex;
    padding: 10px 0;
}

.member-archive .row .label{
    text-align: right;
    float: left;
    font-size: 16px;
    flex: 1;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.member-archive .row .content{
    flex: 1;
    font-size: 16px;
    display: block;
    margin-left: 10px;
    position: relative;
}

.member-archive .noaccess{
    text-align: center;
    font-size: 16px;
}

.member-archive .join-btn{
    display: block;
    margin: 40px 30px 20px;
}

.member-archive .join-btn .button{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
}

.tableview{
    display: block;
    background-color: #fff;
}

.tableview .row{
    display: flex;
    padding: 18px 15px;
    border-bottom: 1px #e9e9e9 solid;
}

.tableview .row .cell{
    flex: 1;
    line-height: 1;
}

.tableview .row .cell-icon{
    width: 20px;
    height: 20px;
    max-width: 20px;
    display: block;
    margin-right: 5px;
}

.tableview .row .cell-icon img{
    width: 100%;
    display: block;
}

.tableview .row .cell-icon .iconfont{
    font-size: 22px;
    line-height: 1;
}

.tableview .row .cell-text{
    font-size: 16px;
    color: #222;
    padding-top: 4px;
}

/*简历*/
.resume{
    display: block;
    background-color: #fff;
    padding: 0 15px;
}

.resume .resume-list{
    display: block;
}

.resume .resume-list li{
    display: block;
    padding: 15px 0;
    border-bottom: 1px #e7e7e7 solid;
}

.resume .resume-list li .title{
    font-size: 16px;
    font-weight: 500;
    color: #222;
}

.resume .resume-list li span{
    float: right;
    font-size: 14px;
}

.resume .resume-list li span a{
    margin: 0 5px;
}

.resume .resume-detail{
    display: block;
    background-color: #fff;
    padding: 20px 0;
}

.resume .resume-detail .row{
    display: flex;
    padding: 10px 0;
}

.resume .resume-detail .row .label{
    text-align: right;
    float: left;
    font-size: 16px;
    flex: 1;
    width: 72px;
    min-width: 72px;
    max-width: 72px;
}

.resume .resume-detail .row .content{
    flex: 1;
    font-size: 16px;
    display: block;
    margin-left: 10px;
    position: relative;
}

.feedback{
    display: block;
    padding: 20px 10px;
    background-color: #fff;
}

.feedback .form-wrap .form-group .label{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.feedback .form-wrap .form-group .textarea{
    height: 160px;
}

/*底部*/
.bottom-bar{
    height: 46px;
    position: relative;
    display: block;
}

.bottom-bar .fixed{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 46px;
}

.bottom-bar .btn{
    display: block;
    background-color: #FF0000;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
